# Dependencias
node_modules/

# Builds
dist/
build/
*.tsbuildinfo

# Entornos — NUNCA commitear secretos
.env
.env.*
!.env.example

# Prisma
backend/prisma/*.db

# Logs y temporales
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Docker
docker-volumes/
